{% extends 'home.html' %}
{% block content %}
<div class="min-h-screen flex items-center justify-center bg-blue-300">
  <div class="container mx-auto">
    <div class="max-w-4xl mx-auto bg-white shadow-md rounded-lg p-6">
      <div class="text-center">
        <h2 class="text-2xl font-semibold text-gray-800">YOUR REQUESTS</h2>
      </div>
      <div class="p-4">
        <div class="border">
          {% if todos|length == 0 %}
          <div class="p-4">
            <div class="text-center">
              <p class="text-2xl text-gray-800">No requests Submitted</p>
            </div>
          </div>
          {% else %}
          <div class="overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                  <th class="px-4 py-2">ID</th>
                  <th class="px-4 py-2">Request Type</th>
                  <th class="px-4 py-2">Status</th>
                  <th class="px-4 py-2">Submitted At</th>
                  <th class="px-4 py-2">Resolved At</th>
                  <th class="px-4 py-2">View Details</th>
                </tr>
              </thead>
              <tbody>
                {% for todo in todos %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                  <td class="border px-4 py-2">{{ forloop.counter }}</td>
                  <td class="border px-4 py-2">{{ todo.request_type }}</td>
                  <td class="border px-6 py-4">
                    {% if todo.status == 'S' %}
                    <div class="flex items-center">
                      <div class="h-2.5 w-2.5 rounded-full bg-white-500 me-2"></div> Submitted
                    </div>
                    {% elif todo.status == 'R' %}
                    <div class="flex items-center">
                      <div class="h-2.5 w-2.5 rounded-full bg-blue-500 me-2"></div> Received
                    </div>
                    {% elif todo.status == 'I' %}
                    <div class="flex items-center">
                      <div class="h-2.5 w-2.5 rounded-full bg-yellow-500 me-2"></div> In Review
                    </div>
                    {% elif todo.status == 'C' %}
                    <div class="flex items-center">
                      <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Completed
                    </div>
                    {% elif todo.status == 'P' %}
                    <div class="flex items-center">
                      <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> Pending
                    </div>
                    {% endif %}
                  </td>
                  <td class="border px-4 py-3">{{ todo.submitted_at }}</td>
                  <td class="border px-4 py-3">
                    {% if todo.resolved_at %}
                    {{ todo.resolved_at }}
                    {% else %}
                    Not Resolved
                    {% endif %}
                  </td>
                  <td class="border px-5 py-3">
                    <a href="/show_details/{{ todo.id }}" 
                    class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-5 rounded">
                    Details
                    </a>                 
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
